@font-face {
  font-family: 'iconfont';  /* Project id 3051603 */
  src: url('//at.alicdn.com/t/font_3051603_kzc1cu1z5rn.woff2?t=1643057044717') format('woff2'),
       url('//at.alicdn.com/t/font_3051603_kzc1cu1z5rn.woff?t=1643057044717') format('woff'),
       url('//at.alicdn.com/t/font_3051603_kzc1cu1z5rn.ttf?t=1643057044717') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-help-fill:before {
  content: "\e87a";
}

